@keyframes show {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes pop {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-regular-webfont.eot");
  src: url("../fonts/ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-bold-webfont.eot");
  src: url("../fonts/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #eae2b7;
  color: #003049;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #003049;
}

span {
  color: #8f5516;
}

section {
  position: relative;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.title {
  padding: 20px 0;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 60px;
  background-color: #8f5516;
}

.buttonHome {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 6rem;
  height: 6rem;
  z-index: 10;
  opacity: 0;
}
.buttonHome:hover .normal {
  opacity: 0;
}
.buttonHome:hover .main-color {
  opacity: 1;
}
.buttonHome .arrow-up {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}
.buttonHome .main-color {
  opacity: 0;
}
.buttonHome .negative {
  opacity: 0;
}
.buttonHome--hide {
  animation: hide 0.5s forwards;
}
.buttonHome--show {
  animation: show 0.5s forwards;
}

.light {
  color: #003049;
  background-color: #eae2b7;
}

.dark {
  color: #eae2b7;
  background-color: #003049;
}

::-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

::placeholder {
  font-family: "Ubuntu", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

::-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  background-color: #eae2b7;
  transition: transform 0.5s;
  z-index: 10;
}
.nav--hidden {
  transform: translateY(-200px);
}
.nav__first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.nav__name {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.nav__logo {
  width: 70px;
  height: 50px;
  padding: 0 10px;
}
.nav__bars {
  padding: 0.5em 1em;
}
.nav__bars .burger-bars {
  width: 4rem;
  height: 4rem;
}
.nav__second {
  display: flex;
  flex-direction: column;
  height: 0;
}
.nav__item {
  font-size: 0;
  transition: color 0.8s;
}
.nav__item:hover {
  color: #8f5516;
}
.nav__item--active {
  color: #8f5516;
}

.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  height: 100vh;
}
.home__slide {
  height: 100%;
  z-index: 3;
}
.home__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80% 50%;
  transition: opacity 0.8s;
  z-index: 0;
}
.home__image--main {
  background-image: url("../img/3dprinters-small.avif");
  opacity: 1;
}
.home__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.home__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  text-align: center;
  color: #eae2b7;
  z-index: 5;
}
.home__title {
  margin-bottom: 0.1em;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.05em;
}
.home__description {
  font-size: 1.6rem;
}
.home__btn {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 2px solid #eae2b7;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #eae2b7;
  transition: 0.3s;
  z-index: 4;
}
.home__btn:hover {
  background-color: #eae2b7;
  color: #003049;
}
.home__about-us {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
.home__about-us .arrow {
  height: 7rem;
  width: 7rem;
}

main .about-us .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 95%;
  margin: 20px auto;
  padding: 10px;
}
main .about-us .card__image {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  max-width: 300px;
  border: 3px solid #8f5516;
  border-radius: 20px;
  overflow: hidden;
}
main .about-us .card__image img {
  height: 100%;
  width: 100%;
}
main .about-us .card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
main .about-us .card__text h3 {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: -0.05em;
}
main .about-us .card__text p {
  padding: 0.5em 0;
  font-size: 1.6rem;
  line-height: 1.5em;
}
main .portfolio {
  width: 100%;
}
main .portfolio .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6em 0;
  overflow: hidden;
  z-index: 0;
}
main .portfolio .box::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 230px;
  bottom: 0;
  box-shadow: inset 0 -180px 40px 0px #003049;
  z-index: 2;
}
main .portfolio .box__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 3em 3em;
  border: 3px solid #8f5516;
  border-radius: 20px;
  transition: transform 0.3s;
  overflow: hidden;
  z-index: 1;
}
main .portfolio .box__img {
  display: block;
  height: 100%;
  width: 100%;
}
main .portfolio .box__clip {
  display: none;
}
main .portfolio .box__btn {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 0);
  margin: 2em 0;
  padding: 10px;
  border: 2px solid #eae2b7;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #eae2b7;
  transition: 0.3s;
  z-index: 4;
}
main .portfolio .box__btn:hover {
  background-color: #eae2b7;
  color: #003049;
}
main .prices .cards-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4em 0;
}
main .prices .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 3em auto;
  perspective: 1000px;
}
main .prices .card:hover .card__first {
  transform: rotateY(180deg);
  opacity: 0;
}
main .prices .card:hover .card__second {
  transform: rotateY(0);
  opacity: 1;
}
main .prices .card__first {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 3px solid #8f5516;
  transition: transform 1s, opacity 1s;
}
main .prices .card__second {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  padding: 2em;
  transform: rotateY(-180deg);
  border-radius: 20px;
  border: 3px solid #8f5516;
  font-size: 2rem;
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
main .prices .card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
}
main .prices .card__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .prices .card__icons .printer {
  height: 10rem;
  width: 10rem;
}
main .prices .card__icons .plus {
  height: 5rem;
  width: 5rem;
}
main .prices .card__icons .file {
  height: 10rem;
  width: 10rem;
}
main .prices .card__btn {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 0);
  margin: 2em 0;
  padding: 10px;
  border: 2px solid #eae2b7;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #eae2b7;
  transition: 0.3s;
  z-index: 4;
}
main .prices .card__btn:hover {
  background-color: #eae2b7;
  color: #003049;
}
main .contact__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1em 0;
}
main .contact__box-socials {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 0.5em;
  font-size: 2rem;
}
main .contact__box-title {
  position: relative;
  padding: 0.5em 1em;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
main .contact__box-title::before {
  content: "";
  position: absolute;
  bottom: 0.2em;
  left: 50%;
  transform: translateX(-50%);
  width: 6em;
  height: 3px;
  background-color: #8f5516;
}
main .contact__box-container {
  max-width: 600px;
}
main .contact__box-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;
}
main .contact__box-form input {
  max-width: 300px;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-family: "Ubuntu", sans-serif;
  border: 3px solid #8f5516;
  border-radius: 20px;
  background-color: #eae2b7;
}
main .contact__box-form textarea {
  max-width: 100%;
  min-height: 200px;
  padding: 0.5em;
  font-family: "Ubuntu", sans-serif;
  border: 3px solid #8f5516;
  border-radius: 20px;
  background-color: #eae2b7;
  resize: vertical;
}
main .contact__box-form button {
  margin: 2em 0;
  padding: 10px;
  border: 2px solid #eae2b7;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #eae2b7;
  transition: 0.3s;
  z-index: 4;
}
main .contact__box-form button:hover {
  background-color: #eae2b7;
  color: #003049;
}
main .contact__box-link {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 12rem;
  padding: 0.5em 0;
}
main .contact__box-link i {
  width: 2.6rem;
  height: 2.6rem;
  transition: color 0.3s;
}
main .contact__box-phone {
  margin-bottom: 0.5em;
}
main .contact__box .instagram__icon {
  background: url("../img/instagram.svg");
}
main .contact__box .facebook__icon {
  background: url("../img/facebook.svg");
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 2rem;
}

@media (min-width: 450px) {
  .home__title {
    font-size: 3.2rem;
  }
  .home__description {
    font-size: 2rem;
  }
  .home__btn {
    font-size: 1.8rem;
  }
}
@media (min-width: 576px) {
  .home__title {
    font-size: 4.2rem;
  }
  .home__description {
    font-size: 3rem;
  }
  .home__btn {
    top: 58%;
    font-size: 2rem;
  }
  main .contact__box-form button {
    width: 50%;
    margin: 1em auto;
  }
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav__bars {
    display: none;
  }
  .nav__first {
    width: 30%;
  }
  .nav__second {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
  }
  .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 10px 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
  }
  .nav__item::before {
    content: "";
    position: absolute;
    bottom: 20px;
    height: 3px;
    width: 100%;
    background-color: #8f5516;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s;
  }
  .nav__item:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .one:hover ~ .home__image--one {
    opacity: 1;
  }
  .two:hover ~ .home__image--two {
    opacity: 1;
  }
  .three:hover ~ .home__image--three {
    opacity: 1;
  }
  .four:hover ~ .home__image--four {
    opacity: 1;
  }
  .home__image--main {
    background-image: url("../img/3dprinters-large.avif");
  }
  .home__image--one {
    background-image: url("../img/3dprinter-engine-large.avif");
    opacity: 0;
    z-index: 1;
  }
  .home__image--two {
    background-image: url("../img/3dprinter-large.avif");
    opacity: 0;
    z-index: 1;
  }
  .home__image--three {
    background-image: url("../img/3printer-desk-large.avif");
    opacity: 0;
    z-index: 1;
  }
  .home__image--four {
    background-image: url("../img/printing-press-large.avif");
    opacity: 0;
    z-index: 1;
  }
  .home__title {
    font-size: 5rem;
  }
  .home__description {
    font-size: 3.8rem;
  }
  .home__btn {
    font-size: 2.6rem;
  }
  .home__about-us .arrow {
    width: 10rem;
    height: 10rem;
  }
  main .about-us .card {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
  }
  main .about-us .card:nth-child(even) {
    flex-direction: row-reverse;
  }
  main .about-us .card:nth-child(even) .card__image {
    border-radius: 0 20px 20px 0;
  }
  main .about-us .card__image {
    border-radius: 20px 0 0 20px;
    left: 0;
    transform: translateX(0);
  }
  main .about-us .card__text {
    width: 50%;
  }
  main .prices .cards-box {
    flex-direction: row;
  }
  main .prices .cards-box .card {
    width: 350px;
    height: 450px;
    margin: 3em;
  }
}
@media (min-width: 992px) {
  .buttonHome {
    bottom: 50px;
    right: 50px;
    width: 8rem;
    height: 8rem;
  }
  .container {
    max-width: 80vw;
  }
  .nav {
    justify-content: space-between;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.7);
  }
  .nav::before {
    content: "";
    position: absolute;
    top: 75px;
    left: -60px;
    transform: skewX(-45deg);
    width: 520px;
    height: 50px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.7);
    background-color: #eae2b7;
    z-index: 8;
  }
  .nav__first {
    width: 50%;
  }
  .nav__logo {
    position: absolute;
    top: -10px;
    left: 0;
    width: 200px;
    height: 180px;
    z-index: 9;
  }
  .nav__title {
    position: absolute;
    top: 55px;
    left: 200px;
    font-size: 3.2rem;
    z-index: 9;
  }
  .nav__second {
    width: 50%;
  }
  .nav__item {
    font-size: 2rem;
  }
  .home__title {
    font-size: 6rem;
  }
  .home__description {
    font-size: 4.2rem;
  }
  .home__btn {
    top: 62%;
    font-size: 3rem;
  }
  main .portfolio .box {
    flex-direction: row;
    padding: 8em 0;
  }
  main .portfolio .box::before {
    content: "";
    width: 280px;
    height: 300%;
    right: 0;
    box-shadow: inset -220px 0 30px 0px #003049;
  }
  main .portfolio .box__link {
    max-width: 300px;
    margin: 0 2em;
    transition: transform 0.3s;
  }
  main .portfolio .box__link:hover {
    transform: scale(1.2);
  }
  main .portfolio .box__link:hover .box__clip {
    transform: scale(1.2);
  }
  main .portfolio .box__img {
    display: none;
  }
  main .portfolio .box__clip {
    display: block;
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
  }
  main .portfolio .box__btn {
    margin: auto 0;
    right: 30px;
    bottom: 50%;
    transform: translate(0, 50%);
  }
  main .contact__box {
    flex-direction: row;
  }
  main .contact__box-socials {
    width: 30%;
  }
  main .contact__box-form {
    width: 100%;
  }
  main .contact__box-form button {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .nav::before {
    width: 640px;
    height: 60px;
  }
  .nav__first {
    width: 30%;
  }
  .nav__logo {
    top: -15px;
    width: 220px;
    height: 200px;
  }
  .nav__title {
    top: 60px;
    left: 240px;
    font-size: 4rem;
  }
  .nav__second {
    width: 51%;
  }
  .nav__item {
    font-size: 2.2rem;
  }
  .home__title {
    font-size: 7rem;
  }
  main .about-us .card {
    justify-content: space-evenly;
  }
  main .portfolio .box::before {
    width: 340px;
    box-shadow: inset -280px 40px 40px 0px #003049;
  }
  main .portfolio .box__link {
    max-width: 400px;
    margin: 0 3em;
  }
  main .portfolio .box__btn {
    right: 50px;
  }
}
@media (min-width: 1400px) {
  .nav__first {
    width: 18%;
  }
  .nav__second {
    width: 48%;
  }
  .nav__item {
    font-size: 2.4rem;
  }
  .home__title {
    font-size: 8rem;
  }
}/*# sourceMappingURL=style.css.map */