@keyframes show {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #eae2b7;
  color: #003049;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #003049;
}

span {
  color: #f77f00;
}

.container {
  position: relative;
  margin: 10px auto;
  padding: 20px 20px;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 60px;
  background-color: #f77f00;
}

.buttonHome {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 5rem;
  transition: color 0.3s;
  z-index: 10;
  opacity: 0;
}
.buttonHome:hover {
  color: #f77f00;
}
.buttonHome--hide {
  animation: hide 0.5s forwards;
}
.buttonHome--show {
  animation: show 0.5s forwards;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  background-color: #eae2b7;
  transition: transform 0.5s;
  z-index: 10;
}
.nav--hidden {
  transform: translateY(-200px);
}
.nav__first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.nav__name {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.nav__logo {
  height: 50px;
  padding: 0 10px;
}
.nav__bars {
  padding: 10px 30px;
  font-size: 3rem;
}
.nav__second {
  display: flex;
  flex-direction: column;
  height: 0;
}
.nav__item {
  font-size: 0;
  transition: color 0.8s;
}
.nav__item:hover {
  color: #f77f00;
}
.nav__item--active {
  color: #f77f00;
}

.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  height: 100vh;
}
.home__slide {
  height: 100%;
  z-index: 2;
}
.home .one:hover ~ .hero-image {
  background-image: url("../img/3dprinter-engine-small.jpg");
}
.home .two:hover ~ .hero-image {
  background-image: url("../img/3dprinter-small.jpg");
}
.home .three:hover ~ .hero-image {
  background-image: url("../img/3printer-desk-small.jpg");
}
.home .four:hover ~ .hero-image {
  background-image: url("../img/printing-press-small.jpg");
}
.home__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/3dprinters-small.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80% 50%;
  transition: background-image 0.3s;
  z-index: 0;
}
.home__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.home__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #eae2b7;
  z-index: 1;
}
.home__title h1 {
  font-size: 2.6rem;
  font-weight: bold;
}
.home__title p {
  font-size: 1.6rem;
}
.home__btn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 2px solid #eae2b7;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #eae2b7;
  transition: 0.3s;
  z-index: 3;
}
.home__btn:hover {
  background-color: #eae2b7;
  color: #003049;
}
.home__arrow {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  font-size: 4rem;
  color: #eae2b7;
  z-index: 3;
}

main .about-us__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 95%;
  margin: 20px auto;
  padding: 10px;
}
main .about-us__card__image {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  max-width: 300px;
  border: 3px solid #f77f00;
  border-radius: 20px;
  overflow: hidden;
}
main .about-us__card__image img {
  height: 100%;
}
main .about-us__card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
main .about-us__card__text h3 {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}
main .about-us__card__text p {
  font-size: 1.6rem;
}

@media (min-width: 450px) {
  .home__title h1 {
    font-size: 3.2rem;
  }
  .home__title p {
    font-size: 2rem;
  }
  .home__btn {
    font-size: 1.8rem;
  }
}
@media (min-width: 576px) {
  .home__title h1 {
    font-size: 4.2rem;
  }
  .home__title p {
    font-size: 3rem;
  }
  .home__btn {
    top: 58%;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav__bars {
    display: none;
  }
  .nav__first {
    width: 30%;
  }
  .nav__second {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
  }
  .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 10px 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
  }
  .nav__item::before {
    content: "";
    position: absolute;
    bottom: 20px;
    height: 3px;
    width: 100%;
    background-color: #f77f00;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s;
  }
  .nav__item:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .home .one:hover ~ .hero-image {
    background-image: url("../img/3dprinter-engine-large.jpg");
  }
  .home .two:hover ~ .hero-image {
    background-image: url("../img/3dprinter-large.jpg");
  }
  .home .three:hover ~ .hero-image {
    background-image: url("../img/3printer-desk-large.jpg");
  }
  .home .four:hover ~ .hero-image {
    background-image: url("../img/printing-press-large.jpg");
  }
  .home__image {
    background-image: url("../img/3dprinters-large.jpg");
  }
  .home__title h1 {
    font-size: 5rem;
  }
  .home__title p {
    font-size: 3.8rem;
  }
  .home__btn {
    font-size: 2.6rem;
  }
  .home__arrow {
    font-size: 6rem;
  }
  main .about-us__card {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
  }
  main .about-us__card:nth-child(even) {
    flex-direction: row-reverse;
  }
  main .about-us__card:nth-child(even) .about-us__card__image {
    border-radius: 0 20px 20px 0;
  }
  main .about-us__card__image {
    border-radius: 20px 0 0 20px;
    left: 0;
    transform: translateX(0);
  }
  main .about-us__card__text {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 80vw;
  }
  .nav {
    justify-content: space-between;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.7);
  }
  .nav::before {
    content: "";
    position: absolute;
    top: 80px;
    left: -60px;
    transform: skewX(-45deg);
    width: 520px;
    height: 50px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.7);
    background-color: #eae2b7;
  }
  .nav__first {
    width: 50%;
  }
  .nav__logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
  }
  .nav__title {
    position: absolute;
    top: 55px;
    left: 200px;
    font-size: 3.2rem;
  }
  .nav__second {
    width: 50%;
  }
  .nav__item {
    font-size: 2rem;
  }
  .home__title h1 {
    font-size: 6rem;
  }
  .home__title p {
    font-size: 4.2rem;
  }
  .home__btn {
    top: 60%;
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .nav::before {
    width: 640px;
    height: 60px;
  }
  .nav__first {
    width: 30%;
  }
  .nav__logo {
    height: 200px;
  }
  .nav__title {
    top: 60px;
    left: 240px;
    font-size: 4rem;
  }
  .nav__second {
    width: 51%;
  }
  .nav__item {
    font-size: 2.2rem;
  }
  .home__title h1 {
    font-size: 7rem;
  }
  main .about-us__card {
    justify-content: space-evenly;
  }
}
@media (min-width: 1400px) {
  .nav__first {
    width: 18%;
  }
  .nav__second {
    width: 48%;
  }
  .nav__item {
    font-size: 2.4rem;
  }
  .home__title h1 {
    font-size: 8rem;
  }
}/*# sourceMappingURL=style.css.map */