// BUTTON HOME
.buttonHome {
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 6rem;
	height: 6rem;
	z-index: 10;
	opacity: 0;
	&:hover {
		.normal {
			opacity: 0;
		}

		.main-color {
			opacity: 1;
		}
	}

	.arrow-up {
		position: absolute;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s;
	}

	.main-color {
		opacity: 0;
	}

	.negative {
		opacity: 0;
	}

	&--hide {
		animation: hide 0.5s forwards;
	}
	&--show {
		animation: show 0.5s forwards;
	}
}

button, .button {
    position: absolute;
    margin: 2em 0;
    padding: 10px;
    border: 2px solid $negative-text-color;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $negative-text-color;
    transition: 0.3s;
    z-index: 4;
    &:hover {
        background-color: $negative-text-color;
        color: $text-color;
    }
}