$main-color: #9c5000;
$bg-color: #eae2b7;
$text-color: #003049;
$second-color: #fcbf49;
$third-color: #d62828;
$shadow-color: rgba(0, 0, 0, 0.7);
$negative-text-color: #eae2b7;
$instagram: #e1306c;
$facebook: #4267b2;
