@use 'colors' as *;
@use 'animations' as *;

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu-regular-webfont.eot');
	src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
		url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
		url('../fonts/ubuntu-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu-bold-webfont.eot');
	src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ubuntu-bold-webfont.woff') format('woff'), url('../fonts/ubuntu-bold-webfont.woff2') format('woff2'),
		url('../fonts/ubuntu-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

// RESET

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: $text-color;
}

span {
	color: $main-color;
}

section {
	position: relative;
	padding: 4em 0;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.title {
	padding: 20px 0;
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.underline {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 60px;
	background-color: $main-color;
}

.buttonHome {
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 6rem;
	height: 6rem;
	z-index: 10;
	opacity: 0;
	&:hover {
		.normal {
			opacity: 0;
		}

		.main-color {
			opacity: 1;
		}
	}

	.arrow-up {
		position: absolute;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s;
	}

	.main-color {
		opacity: 0;
	}

	.negative {
		opacity: 0;
	}

	&--hide {
		animation: hide 0.5s forwards;
	}
	&--show {
		animation: show 0.5s forwards;
	}
}

.light {
	color: $text-color;
	background-color: $bg-color;
}

.dark {
	color: $bg-color;
	background-color: $text-color;
}

::placeholder {
	font-family: 'Ubuntu', sans-serif;
	color: $shadow-color;
	opacity: 1;
}

:-ms-input-placeholder {
	font-family: 'Ubuntu', sans-serif;
	color: $shadow-color;
}

::-ms-input-placeholder {
	font-family: 'Ubuntu', sans-serif;
	color: $shadow-color;
}

// NAVIGATION

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 80px;
	box-shadow: 0 10px 15px $shadow-color;
	background-color: $bg-color;
	transition: transform 0.5s;
	z-index: 10;
	&--hidden {
		transform: translateY(-200px);
	}

	&__first {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	&__name {
		display: flex;
		align-items: center;
		justify-content: center;
		top: 100px;
		height: 100%;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2rem;
	}

	&__logo {
		width: 70px;
		height: 50px;
		padding: 0 10px;
	}

	&__bars {
		padding: 0.5em 1em;

		.burger-bars {
			width: 4rem;
			height: 4rem;
		}
	}

	&__second {
		display: flex;
		flex-direction: column;
		height: 0;
	}

	&__item {
		font-size: 0;
		transition: color 0.8s;
		&:hover {
			color: $main-color;
		}
		&--active {
			color: $main-color;
		}
	}
}

// HEADER

.home {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
	width: 100%;
	height: 100vh;
	&__slide {
		height: 100%;
		z-index: 3;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-attachment: fixed;
		background-position: 80% 50%;
		transition: opacity 0.8s;
		z-index: 0;

		&--main {
			background-image: url('../img/3dprinters-small.avif');
			opacity: 1;
		}
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $shadow-color;
		z-index: 2;
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 80%;
		text-align: center;
		color: $negative-text-color;
		z-index: 5;
	}

	&__title {
		margin-bottom: 0.1em;
		font-size: 2.6rem;
		font-weight: bold;
		letter-spacing: -0.05em;
	}

	&__description {
		font-size: 1.6rem;
	}

	&__btn {
		position: absolute;
		top: 56%;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px;
		border: 2px solid $negative-text-color;
		border-radius: 5px;
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: $negative-text-color;
		transition: 0.3s;
		z-index: 4;
		&:hover {
			background-color: $negative-text-color;
			color: $text-color;
		}
	}
	&__about-us {
		display: block;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 4;

		.arrow {
			height: 7rem;
			width: 7rem;
		}
	}
}

// MAIN

main {
	.about-us {
		.card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 95%;
			margin: 20px auto;
			padding: 10px;
			&__image {
				position: relative;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				height: 300px;
				max-width: 300px;
				border: 3px solid $main-color;
				border-radius: 20px;
				overflow: hidden;
				img {
					height: 100%;
					width: 100%;
				}
			}
			&__text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 10px 0;
				h3 {
					padding: 10px;
					text-align: center;
					font-size: 2rem;
					letter-spacing: -0.05em;
				}
				p {
					padding: 0.5em 0;
					font-size: 1.6rem;
					line-height: 1.5em;
				}
			}
		}
	}

	.portfolio {
		width: 100%;

		.shadow{
			&::before {
				content: '';
				position: absolute;
				width: 300%;
				height: 230px;
				bottom: 0;
				box-shadow: inset 0 -180px 40px 0px $text-color;
				z-index: 2;
			}
		}

		.box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 0em 0;
			overflow: hidden;
			z-index: 0;

			&__link {
				display: flex;
				justify-content: center;
				align-items: center;
				max-width: 400px;
				margin: 0 3em;
				border: 3px solid $main-color;
				border-radius: 20px;
				transition: transform 0.3s;
				overflow: hidden;
				z-index: 1;
			}

			&__img {
				display: block;
				height: 100%;
				width: 100%;
			}

			&__clip {
				display: none;
			}

			&__btn {
				position: absolute;
				right: 50%;
				bottom: 0;
				transform: translate(50%, 0);
				margin: 2em 0;
				padding: 10px;
				border: 2px solid $negative-text-color;
				border-radius: 5px;
				font-size: 1.6rem;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				color: $negative-text-color;
				transition: 0.3s;
				z-index: 4;
				&:hover {
					background-color: $negative-text-color;
					color: $text-color;
				}
			}
		}
	}

	.prices {
		.cards-box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 4em 0;
		}
		.card {
			position: relative;
			width: 300px;
			height: 400px;
			margin: 3em auto;
			perspective: 1000px;

			&:hover {
				.card__first {
					transform: rotateY(180deg);
					opacity: 0;
				}

				.card__second {
					transform: rotateY(0);
					opacity: 1;
				}
			}

			&__first {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				inset: 0;
				height: 100%;
				width: 100%;
				border-radius: 20px;
				border: 3px solid $main-color;
				transition: transform 1s, opacity 1s;
			}

			&__second {
				position: absolute;
				inset: 0;
				height: 100%;
				width: 100%;
				padding: 2em;
				transform: rotateY(-180deg);
				border-radius: 20px;
				border: 3px solid $main-color;
				font-size: 2rem;
				opacity: 0;
				transition: transform 1s, opacity 1s;
			}

			&__title {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-bottom: 1em;
				text-align: center;
				text-transform: uppercase;
				font-size: 5rem;
			}

			&__icons {
				display: flex;
				justify-content: center;
				align-items: center;
				.printer {
					height: 10rem;
					width: 10rem;
				}

				.plus {
					height: 5rem;
					width: 5rem;
				}

				.file {
					height: 10rem;
					width: 10rem;
				}
			}

			&__btn {
				position: absolute;
				right: 50%;
				bottom: 0;
				transform: translate(50%, 0);
				margin: 2em 0;
				padding: 10px;
				border: 2px solid $negative-text-color;
				border-radius: 5px;
				font-size: 1.6rem;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				color: $negative-text-color;
				transition: 0.3s;
				z-index: 4;
				&:hover {
					background-color: $negative-text-color;
					color: $text-color;
				}
			}
		}
	}

	.contact {
		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			padding: 1em 0;

			&-socials {
				display: flex;
				flex-direction: column;
				text-align: left;
				width: 100%;
				padding: 0.5em;
				font-size: 2rem;
			}

			&-title {
				position: relative;
				padding: 0.5em 1em;
				font-size: 2rem;
				text-transform: uppercase;
				text-align: center;

				&::before {
					content: '';
					position: absolute;
					bottom: 0.2em;
					left: 50%;
					transform: translateX(-50%);
					width: 6em;
					height: 3px;
					background-color: $main-color;
				}
			}

			&-container {
				max-width: 600px;
			}

			&-form {
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 2em;

				input {
					max-width: 300px;
					margin-bottom: 0.5em;
					padding: 0.5em;
					font-family: 'Ubuntu', sans-serif;
					border: 3px solid $main-color;
					border-radius: 20px;
					background-color: $bg-color;
				}
				textarea {
					max-width: 100%;
					min-height: 200px;
					padding: 0.5em;
					font-family: 'Ubuntu', sans-serif;
					border: 3px solid $main-color;
					border-radius: 20px;
					background-color: $bg-color;
					resize: vertical;
				}

				button {
					margin: 2em 0;
					padding: 10px;
					border: 2px solid $negative-text-color;
					border-radius: 5px;
					font-size: 1.6rem;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					color: $negative-text-color;
					transition: 0.3s;
					z-index: 4;
					&:hover {
						background-color: $negative-text-color;
						color: $text-color;
					}
				}
			}

			&-link {
				display: flex;
				justify-content: start;
				align-items: center;
				width: 12rem;
				padding: 0.5em 0;
				i {
					width: 2.6rem;
					height: 2.6rem;
					transition: color 0.3s;
				}
			}

			&-phone {
				margin-bottom: 0.5em;
			}

			.instagram__icon {
				background: url('../img/instagram.svg');
			}

			.facebook__icon {
				background: url('../img/facebook.svg');
			}
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	font-size: 2rem;
}

@media (min-width: 450px) {
	.home {
		&__title {
			font-size: 3.2rem;
		}

		&__description {
			font-size: 2rem;
		}

		&__btn {
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 576px) {
	.home {
		&__title {
			font-size: 4.2rem;
		}

		&__description {
			font-size: 3rem;
		}
		&__btn {
			top: 58%;
			font-size: 2rem;
		}
	}

	main {
		.contact {
			&__box {
				&-form {
					button {
						width: 50%;
						margin: 1em auto;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		flex-direction: row;
		justify-content: space-around;
		&__bars {
			display: none;
		}
		&__first {
			width: 30%;
		}
		&__second {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			width: 60%;
			height: 100%;
		}

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 100%;
			padding: 10px 5px;
			font-size: 1.8rem;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			overflow: hidden;
			&::before {
				content: '';
				position: absolute;
				bottom: 20px;
				height: 3px;
				width: 100%;
				background-color: $main-color;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 0.8s;
			}
			&:hover::before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
	.home {
		.one:hover ~ &__image--one {
			opacity: 1;
		}
		.two:hover ~ &__image--two {
			opacity: 1;
		}
		.three:hover ~ &__image--three {
			opacity: 1;
		}
		.four:hover ~ &__image--four {
			opacity: 1;
		}
		&__image {
			&--main {
				background-image: url('../img/3dprinters-large.avif');
			}

			&--one {
				background-image: url('../img/3dprinter-engine-large.avif');
				opacity: 0;
				z-index: 1;
			}

			&--two {
				background-image: url('../img/3dprinter-large.avif');
				opacity: 0;
				z-index: 1;
			}

			&--three {
				background-image: url('../img/3printer-desk-large.avif');
				opacity: 0;
				z-index: 1;
			}

			&--four {
				background-image: url('../img/printing-press-large.avif');
				opacity: 0;
				z-index: 1;
			}
		}
		&__title {
			font-size: 5rem;
		}

		&__description {
			font-size: 3.8rem;
		}
		&__btn {
			font-size: 2.6rem;
		}
		&__about-us {
			.arrow {
				width: 10rem;
				height: 10rem;
			}
		}
	}
	main {
		.about-us {
			.card {
				display: flex;
				flex-direction: row;
				max-width: 100%;
				margin: 20px auto;
				padding: 10px;
				&:nth-child(even) {
					flex-direction: row-reverse;
					.card__image {
						border-radius: 0 20px 20px 0;
					}
				}
				&__image {
					border-radius: 20px 0 0 20px;
					left: 0;
					transform: translateX(0);
				}
				&__text {
					width: 50%;
				}
			}
		}

		.prices {
			.cards-box {
				flex-direction: row;
				.card {
					width: 350px;
					height: 450px;
					margin: 3em;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.buttonHome {
		bottom: 50px;
		right: 50px;
		width: 8rem;
		height: 8rem;
	}
	.container {
		max-width: 80vw;
	}
	.nav {
		justify-content: space-between;
		box-shadow: 10px 20px 15px $shadow-color;
		&::before {
			content: '';
			position: absolute;
			top: 75px;
			left: -60px;
			transform: skewX(-45deg);
			width: 520px;
			height: 50px;
			box-shadow: 20px 20px 15px $shadow-color;
			background-color: $bg-color;
			z-index: 8;
		}
		&__first {
			width: 50%;
		}

		&__logo {
			position: absolute;
			top: -10px;
			left: 0;
			width: 200px;
			height: 180px;
			z-index: 9;
		}

		&__title {
			position: absolute;
			top: 55px;
			left: 200px;
			font-size: 3.2rem;
			z-index: 9;
		}

		&__second {
			width: 50%;
		}

		&__item {
			font-size: 2rem;
		}
	}

	.home {
		&__title {
			font-size: 6rem;
		}

		&__description {
			font-size: 4.2rem;
		}
		&__btn {
			top: 62%;
			font-size: 3rem;
		}
	}

	main {
		.portfolio {

			.shadow{
				&::before {
					content: '';
					width: 280px;
					height: 300%;
					right: 0;
					box-shadow: inset -220px 0 30px 0px $text-color;
				}
			}
			.box {
				flex-direction: row;
				padding: 3em 0;

				&__link {
					max-width: 300px;
					margin: 0 2em;
					transition: transform 0.3s;

					&:hover {
						transform: scale(1.2);

						.box__clip {
							transform: scale(1.2);
						}
					}
				}

				&__img {
					display: none;
				}

				&__clip {
					display: block;
					height: 100%;
					width: 100%;
					transition: transform 0.3s;
				}

				&__btn {
					margin: auto 0;
					right: 30px;
					bottom: 50%;
					transform: translate(0, 50%);
				}
			}
		}

		.contact {
			&__box {
				flex-direction: row;

				&-socials {
					width: 30%;
				}

				&-form {
					width: 100%;

					button {
						width: 30%;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.nav {
		&::before {
			width: 640px;
			height: 60px;
		}
		&__first {
			width: 30%;
		}

		&__logo {
			top: -15px;
			width: 220px;
			height: 200px;
		}

		&__title {
			top: 60px;
			left: 240px;
			font-size: 4rem;
		}

		&__second {
			width: 51%;
		}

		&__item {
			font-size: 2.2rem;
		}
	}
	.home {
		&__title {
			font-size: 7rem;
		}
	}
	main {
		.about-us {
			.card {
				justify-content: space-evenly;
			}
		}

		.portfolio {

			.shadow{
				&::before {
					width: 340px;
					box-shadow: inset -280px 40px 40px 0px $text-color;
				}
			}
			.box {

				&__link {
					max-width: 400px;
					margin: 0 3em;
				}

				&__btn {
					right: 50px;
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.nav {
		&__first {
			width: 18%;
		}
		&__second {
			width: 48%;
		}

		&__item {
			font-size: 2.4rem;
		}
	}
	.home {
		&__title {
			font-size: 8rem;
		}
	}
}
