@import 'colors';
@import 'animations';

// RESET

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: $text-color;
}

span {
	color: $main-color;
}

.active {
	color: $main-color;
}

.hidden {
	transform: translateY(-200px);
}

.container {
	position: relative;
	margin: 10px auto;
	padding: 20px 20px;
}

.title {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.underline {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 60px;
	background-color: $main-color;
}

.buttonHome {
	position: fixed;
	bottom: 50px;
	right: 50px;
	font-size: 5rem;
	transition: color 0.3s;
	z-index: 10;
	opacity: 0;
}

.buttonHome:hover {
	color: $main-color;
}

.hide {
	animation: hide 0.5s forwards;
}

.show {
	animation: show 0.5s forwards;
}

// NAVIGATION

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 80px;
	box-shadow: 0 10px 15px $shadow-color;
	background-color: $bg-color;
	transition: transform 0.5s;
	z-index: 10;
	.first-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		.name {
			display: flex;
			align-items: center;
			justify-content: center;
			top: 100px;
			height: 100%;
			.logo {
				height: 50px;
				padding: 0 10px;
			}
		}
		.burger-bars {
			padding: 10px 30px;
			font-size: 3rem;
		}
	}
	.second-section {
		display: flex;
		flex-direction: column;
		height: 0;
		.nav-item {
			font-size: 0;
			transition: color 0.8s;
		}
		.nav-item:hover {
			color: $main-color;
		}
	}
}

// HEADER

header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
	width: 100%;
	height: 100vh;
	.slide {
		height: 100%;
		z-index: 2;
	}
	.one:hover ~ .hero-image {
		background-image: url('../img/3dprinter-engine-small.jpg');
	}
	.two:hover ~ .hero-image {
		background-image: url('../img/3dprinter-small.jpg');
	}
	.three:hover ~ .hero-image {
		background-image: url('../img/3printer-desk-small.jpg');
	}
	.four:hover ~ .hero-image {
		background-image: url('../img/printing-press-small.jpg');
	}
	.hero-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/3dprinters-small.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-position: 80% 50%;
		transition: background-image 0.3s;
		z-index: 0;
	}
	.shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $shadow-color;
		z-index: 1;
	}
	.hero-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding: 20px;
		text-align: center;
		color: $negative-text-color;
		z-index: 1;
		h1 {
			font-size: 2.6rem;
			font-weight: bold;
		}
		p {
			font-size: 1.6rem;
		}
	}
	.about-us-btn {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px;
		border: 2px solid $negative-text-color;
		border-radius: 5px;
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: $negative-text-color;
		transition: 0.3s;
		z-index: 3;
	}
	.about-us-btn:hover {
		background-color: $negative-text-color;
		color: $text-color;
	}
	.arrow {
		display: block;
		position: absolute;
		bottom: 0px;
		left: 50%;
		padding: 20px;
		transform: translateX(-50%);
		font-size: 4rem;
		color: $negative-text-color;
		z-index: 3;
	}
}

// MAIN

main {
	.about-us {
		.card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 300px;
			margin: 20px auto;
			padding: 10px;
		}
		.card-image {
			position: relative;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 300px;
			width: 300px;
			border: 3px solid $main-color;
			border-radius: 20px;
			overflow: hidden;
			outline: none;
			background-size: cover;
			img {
				height: 100%;
			}
		}
		.card-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 10px 0;
			h3 {
				padding: 10px;
				text-align: center;
				font-size: 2rem;
			}
			p {
				font-size: 1.6rem;
			}
		}
	}
}

@media (min-width: 450px) {
	header {
		.hero-text {
			h1 {
				font-size: 3.2rem;
			}
			p {
				font-size: 2rem;
			}
		}
		.about-us-btn {
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 576px) {
	header {
		.hero-text {
			h1 {
				font-size: 4.2rem;
			}
			p {
				font-size: 3rem;
			}
		}
		.about-us-btn {
			top: 58%;
			font-size: 2rem;
		}
	}
}

@media (min-width: 768px) {
	nav {
		flex-direction: row;
		justify-content: space-around;
		.burger-bars {
			display: none;
		}
		.first-section {
			width: 30%;
		}
		.second-section {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			width: 60%;
			height: 100%;
			.nav-item {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				height: 100%;
				padding: 10px 5px;
				font-size: 1.8rem;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				overflow: hidden;
			}
			.nav-item::before {
				content: '';
				position: absolute;
				bottom: 20px;
				height: 3px;
				width: 100%;
				background-color: $main-color;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 0.8s;
			}
			.nav-item:hover::before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
	header {
		.one:hover ~ .hero-image {
			background-image: url('../img/3dprinter-engine-large.jpg');
		}
		.two:hover ~ .hero-image {
			background-image: url('../img/3dprinter-large.jpg');
		}
		.three:hover ~ .hero-image {
			background-image: url('../img/3printer-desk-large.jpg');
		}
		.four:hover ~ .hero-image {
			background-image: url('../img/printing-press-large.jpg');
		}
		.hero-image {
			background-image: url('../img/3dprinters-large.jpg');
		}
		.hero-text {
			h1 {
				font-size: 5rem;
			}
			p {
				font-size: 3.8rem;
			}
		}
		.about-us-btn {
			font-size: 2.6rem;
		}
		.arrow {
			font-size: 6rem;
		}
	}
	main {
		.about-us {
			.card {
				display: flex;
				flex-direction: row;
				max-width: 100%;
				margin: 20px auto;
				padding: 10px;
			}
			.card:nth-child(even) {
				flex-direction: row-reverse;
				.card-image {
					border-radius: 0 20px 20px 0;
				}
			}
			.card-image {
				border-radius: 20px 0 0 20px;
				left: 0;
				transform: translateX(0);
			}
			.card-text {
				width: 50%;
			}
		}
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 80vw;
	}
	nav {
		justify-content: space-between;
		box-shadow: 10px 20px 15px $shadow-color;
		.first-section {
			width: 50%;
			.name {
				.logo {
					position: absolute;
					top: 0;
					left: 0;
					height: 180px;
				}
				.title {
					position: absolute;
					top: 55px;
					left: 200px;
					font-size: 3.2rem;
				}
			}
		}
		.second-section {
			width: 50%;
			.nav-item {
				font-size: 2rem;
			}
		}
	}
	nav::before {
		content: '';
		position: absolute;
		top: 80px;
		left: -60px;
		transform: skewX(-45deg);
		width: 520px;
		height: 50px;
		box-shadow: 20px 20px 15px $shadow-color;
		background-color: $bg-color;
	}
	header {
		.hero-text {
			h1 {
				font-size: 6rem;
			}
			p {
				font-size: 4.2rem;
			}
		}
		.about-us-btn {
			top: 60%;
			font-size: 3rem;
		}
	}
}
@media (min-width: 1200px) {
	nav {
		.first-section {
			width: 30%;
			.name {
				.logo {
					height: 200px;
				}
				.title {
					top: 60px;
					left: 240px;
					font-size: 4rem;
				}
			}
		}
		.second-section {
			width: 51%;
			.nav-item {
				font-size: 2.2rem;
			}
		}
	}
	nav::before {
		width: 640px;
		height: 60px;
	}
	header {
		.hero-text {
			h1 {
				font-size: 7rem;
			}
		}
	}
	main{
		.about-us{
			.card{
				justify-content: space-evenly;
			}
		}
	}
}
@media (min-width: 1400px) {
	nav {
		.first-section {
			width: 18%;
		}
		.second-section {
			width: 48%;
			.nav-item {
				font-size: 2.4rem;
			}
		}
	}
	header {
		.hero-text {
			h1 {
				font-size: 8rem;
			}
		}
	}
}
